<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.winter.app.board.notice.NoticeVO" alias="NoticeVO"/>
  		<!-- 왼쪽 타입을 오른쪽 별칭으로 부르겠다. -->
  	</typeAliases>
  	
  	
  </configuration>