<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample">
	<insert id="" parameterType="VO">
	</insert>
	<insert id="" parameterType="Map">
		INSERT ... 
		VALUES (#{map의 key},?)
	</insert>
	<insert id="" parameterType="List">
		INSERT ... 
		VALUES (#{index번호},?)
	</insert>
	
	<select id="" resultType="VO">
		<!-- 컬럼명과 VO의 setter의 이름이 일치 -->
	</select>
	<select id="" resultType="Map">
		<!-- 컬럼명과 Key, 값이 Value -->
	</select>
	<select id="" resultType="VO">
		<!-- 컬럼명과 VO의 setter의 이름이 일치하지 않을 경우 -->
		<!-- 별칭 -->
		select board_num as boardNum from notice
	</select>
	<select id="" resultMap="resultMap의 ID">
		<!-- 컬럼명과 VO의 setter의 이름이 일치하지 않을 경우 -->
		<!-- 별칭 -->
		select board_num from notice
	</select>
	<resultMap type="VO" id="">
		<!-- PK -->
		<id column="컬럼명" property="VO의 setter의 이름"/>
		<result column="컬럼명" property="VO의 setter의 이름"/>
		<association property=""></association>
		<collection property=""></collection>
	</resultMap>
</mapper>